Django

*.pyc pycache/ *.pyo *.pyd *.db .sqlite3 /migrations/!/migrations/init.py

Environment

.env env/ venv/ *.env

Sensitive files

TODO_APP/settings.py TODO_APP/local_settings.py

IDE files

.idea/ *.swp *.swo
